
{% extends "base.html" %}

{% block main_class %}container-checkout{% endblock %}

{% block content %}
    <h2>{{ titulo }}</h2>
    
    <div class="checkout-box">
      <form action="{{ url_for('processar_cadastro') }}" method="POST">
        
        <h3>Crie sua conta</h3>
        <input type="text" name="nome" placeholder="Nome Completo" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <input type="tel" name="telefone" placeholder="Telefone" required>
        
        <button type="submit" class="btn-concluir">Cadastrar</button>

        <p style="text-align: center; margin-top: 15px;">
            Já tem conta? <a href="{{ url_for('login') }}">Faça login.</a>
        </p>

      </form>
    </div>
{% endblock %}